services:
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_pass
      MYSQL_ROOT_PASSWORD: root_secure_password

  web:
    build: .
    ports:
      - "8080:3000"
    depends_on:
      - mysql
    environment:
      RAILS_ENV: development
      RAILS_SERVE_STATIC_FILES: "true"  
      DB_HOST: mysql
      DB_USER: app_user
      DB_PASSWORD: app_pass
      SECRET_KEY_BASE: "..."
